/** @format */

/* General Container */
.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6), 0 1px 3px rgba(0, 0, 0, 0.4);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

/* Add Button */
.add {
  padding: 10px;
  background-color: #5d57c9;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add:hover {
  background-color: #5d57c9c0;
}

/* Cards Container */
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

/* Individual Card */
.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6), 0 1px 3px rgba(0, 0, 0, 0.4);
}

.cardImage {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform 0.3s ease; /* Smooth zoom effect */
}

.cardButtons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.button {
  padding: 3px 8px;
  cursor: pointer;
  border-radius: 5px;
  color: var(--text);
  border: none;
  outline: none;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.view {
  background-color: #ffc107;
}

.view:hover {
  background-color: #ffc107c0;
}

.delete {
  background-color: #f44336;
}

.delete:hover {
  background-color: #f44336c0;
}

/* Card Content */
.cardContent {
  background-color: var(--bgSoft);
  padding: 15px;
  text-align: center;
}

.cardContent h3 {
  margin: 0;
  font-size: 18px;
}

.cardContent p {
  margin: 5px 0;
  font-size: 14px;
  color: var(--textSecondary);
}

/* Price and Stock */
.priceStock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

.stock {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.inStock {
  background-color: #28a745; /* Green for in stock */
}

.outOfStock {
  background-color: #f44336; /* Red for out of stock */
}
